[submodule "drupal6/drupal6"]
	path = drupal6/drupal6
	url = ssh://pkgs.fedoraproject.org/drupal6.git
[submodule "drupal6/drupal6-addthis"]
	path = drupal6/drupal6-addthis
	url = ssh://pkgs.fedoraproject.org/drupal6-addthis.git
[submodule "drupal6/drupal6-admin_menu"]
	path = drupal6/drupal6-admin_menu
	url = ssh://pkgs.fedoraproject.org/drupal6-admin_menu.git
[submodule "drupal6/drupal6-advanced-help"]
	path = drupal6/drupal6-advanced-help
	url = ssh://pkgs.fedoraproject.org/drupal6-advanced-help.git
[submodule "drupal6/drupal6-authfas"]
	path = drupal6/drupal6-authfas
	url = ssh://pkgs.fedoraproject.org/drupal6-authfas.git
[submodule "drupal6/drupal6-auto_nodetitle"]
	path = drupal6/drupal6-auto_nodetitle
	url = ssh://pkgs.fedoraproject.org/drupal6-auto_nodetitle.git
[submodule "drupal6/drupal6-backup_migrate"]
	path = drupal6/drupal6-backup_migrate
	url = ssh://pkgs.fedoraproject.org/drupal6-backup_migrate.git
[submodule "drupal6/drupal6-better_formats"]
	path = drupal6/drupal6-better_formats
	url = ssh://pkgs.fedoraproject.org/drupal6-better_formats.git
[submodule "drupal6/drupal6-block_class"]
	path = drupal6/drupal6-block_class
	url = ssh://pkgs.fedoraproject.org/drupal6-block_class.git
[submodule "drupal6/drupal6-calendar"]
	path = drupal6/drupal6-calendar
	url = ssh://pkgs.fedoraproject.org/drupal6-calendar.git
[submodule "drupal6/drupal6-cck"]
	path = drupal6/drupal6-cck
	url = ssh://pkgs.fedoraproject.org/drupal6-cck.git
[submodule "drupal6/drupal6-comment_bonus_api"]
	path = drupal6/drupal6-comment_bonus_api
	url = ssh://pkgs.fedoraproject.org/drupal6-comment_bonus_api.git
[submodule "drupal6/drupal6-context"]
	path = drupal6/drupal6-context
	url = ssh://pkgs.fedoraproject.org/drupal6-context.git
[submodule "drupal6/drupal6-context_menu_block"]
	path = drupal6/drupal6-context_menu_block
	url = ssh://pkgs.fedoraproject.org/drupal6-context_menu_block.git
[submodule "drupal6/drupal6-ctools"]
	path = drupal6/drupal6-ctools
	url = ssh://pkgs.fedoraproject.org/drupal6-ctools.git
[submodule "drupal6/drupal6-custom_breadcrumbs"]
	path = drupal6/drupal6-custom_breadcrumbs
	url = ssh://pkgs.fedoraproject.org/drupal6-custom_breadcrumbs.git
[submodule "drupal6/drupal6-date"]
	path = drupal6/drupal6-date
	url = ssh://pkgs.fedoraproject.org/drupal6-date.git
[submodule "drupal6/drupal6-diff"]
	path = drupal6/drupal6-diff
	url = ssh://pkgs.fedoraproject.org/drupal6-diff.git
[submodule "drupal6/drupal6-drush"]
	path = drupal6/drupal6-drush
	url = ssh://pkgs.fedoraproject.org/drupal6-drush.git
[submodule "drupal6/drupal6-eazylaunch"]
	path = drupal6/drupal6-eazylaunch
	url = ssh://pkgs.fedoraproject.org/drupal6-eazylaunch.git
[submodule "drupal6/drupal6-emfield"]
	path = drupal6/drupal6-emfield
	url = ssh://pkgs.fedoraproject.org/drupal6-emfield.git
[submodule "drupal6/drupal6-faq"]
	path = drupal6/drupal6-faq
	url = ssh://pkgs.fedoraproject.org/drupal6-faq.git
[submodule "drupal6/drupal6-features"]
	path = drupal6/drupal6-features
	url = ssh://pkgs.fedoraproject.org/drupal6-features.git
[submodule "drupal6/drupal6-features_extra"]
	path = drupal6/drupal6-features_extra
	url = ssh://pkgs.fedoraproject.org/drupal6-features_extra.git
[submodule "drupal6/drupal6-feeds"]
	path = drupal6/drupal6-feeds
	url = ssh://pkgs.fedoraproject.org/drupal6-feeds.git
[submodule "drupal6/drupal6-filefield"]
	path = drupal6/drupal6-filefield
	url = ssh://pkgs.fedoraproject.org/drupal6-filefield.git
[submodule "drupal6/drupal6-fivestar"]
	path = drupal6/drupal6-fivestar
	url = ssh://pkgs.fedoraproject.org/drupal6-fivestar.git
[submodule "drupal6/drupal6-flag"]
	path = drupal6/drupal6-flag
	url = ssh://pkgs.fedoraproject.org/drupal6-flag.git
[submodule "drupal6/drupal6-flexifilter"]
	path = drupal6/drupal6-flexifilter
	url = ssh://pkgs.fedoraproject.org/drupal6-flexifilter.git
[submodule "drupal6/drupal6-footnotes"]
	path = drupal6/drupal6-footnotes
	url = ssh://pkgs.fedoraproject.org/drupal6-footnotes.git
[submodule "drupal6/drupal6-freelinking"]
	path = drupal6/drupal6-freelinking
	url = ssh://pkgs.fedoraproject.org/drupal6-freelinking.git
[submodule "drupal6/drupal6-geshifilter"]
	path = drupal6/drupal6-geshifilter
	url = ssh://pkgs.fedoraproject.org/drupal6-geshifilter.git
[submodule "drupal6/drupal6-image"]
	path = drupal6/drupal6-image
	url = ssh://pkgs.fedoraproject.org/drupal6-image.git
[submodule "drupal6/drupal6-image_resize_filter"]
	path = drupal6/drupal6-image_resize_filter
	url = ssh://pkgs.fedoraproject.org/drupal6-image_resize_filter.git
[submodule "drupal6/drupal6-imageapi"]
	path = drupal6/drupal6-imageapi
	url = ssh://pkgs.fedoraproject.org/drupal6-imageapi.git
[submodule "drupal6/drupal6-imagecache"]
	path = drupal6/drupal6-imagecache
	url = ssh://pkgs.fedoraproject.org/drupal6-imagecache.git
[submodule "drupal6/drupal6-imagecache_profiles"]
	path = drupal6/drupal6-imagecache_profiles
	url = ssh://pkgs.fedoraproject.org/drupal6-imagecache_profiles.git
[submodule "drupal6/drupal6-imagefield"]
	path = drupal6/drupal6-imagefield
	url = ssh://pkgs.fedoraproject.org/drupal6-imagefield.git
[submodule "drupal6/drupal6-insert"]
	path = drupal6/drupal6-insert
	url = ssh://pkgs.fedoraproject.org/drupal6-insert.git
[submodule "drupal6/drupal6-job_scheduler"]
	path = drupal6/drupal6-job_scheduler
	url = ssh://pkgs.fedoraproject.org/drupal6-job_scheduler.git
[submodule "drupal6/drupal6-link"]
	path = drupal6/drupal6-link
	url = ssh://pkgs.fedoraproject.org/drupal6-link.git
[submodule "drupal6/drupal6-login_destination"]
	path = drupal6/drupal6-login_destination
	url = ssh://pkgs.fedoraproject.org/drupal6-login_destination.git
[submodule "drupal6/drupal6-markdown"]
	path = drupal6/drupal6-markdown
	url = ssh://pkgs.fedoraproject.org/drupal6-markdown.git
[submodule "drupal6/drupal6-media_vimeo"]
	path = drupal6/drupal6-media_vimeo
	url = ssh://pkgs.fedoraproject.org/drupal6-media_vimeo.git
[submodule "drupal6/drupal6-media_youku"]
	path = drupal6/drupal6-media_youku
	url = ssh://pkgs.fedoraproject.org/drupal6-media_youku.git
[submodule "drupal6/drupal6-menu_block"]
	path = drupal6/drupal6-menu_block
	url = ssh://pkgs.fedoraproject.org/drupal6-menu_block.git
[submodule "drupal6/drupal6-mobile_tools"]
	path = drupal6/drupal6-mobile_tools
	url = ssh://pkgs.fedoraproject.org/drupal6-mobile_tools.git
[submodule "drupal6/drupal6-og"]
	path = drupal6/drupal6-og
	url = ssh://pkgs.fedoraproject.org/drupal6-og.git
[submodule "drupal6/drupal6-pathauto"]
	path = drupal6/drupal6-pathauto
	url = ssh://pkgs.fedoraproject.org/drupal6-pathauto.git
[submodule "drupal6/drupal6-rules"]
	path = drupal6/drupal6-rules
	url = ssh://pkgs.fedoraproject.org/drupal6-rules.git
[submodule "drupal6/drupal6-service_links"]
	path = drupal6/drupal6-service_links
	url = ssh://pkgs.fedoraproject.org/drupal6-service_links.git
[submodule "drupal6/drupal6-strongarm"]
	path = drupal6/drupal6-strongarm
	url = ssh://pkgs.fedoraproject.org/drupal6-strongarm.git
[submodule "drupal6/drupal6-theme-ninesixty"]
	path = drupal6/drupal6-theme-ninesixty
	url = ssh://pkgs.fedoraproject.org/drupal6-theme-ninesixty.git
[submodule "drupal6/drupal6-token"]
	path = drupal6/drupal6-token
	url = ssh://pkgs.fedoraproject.org/drupal6-token.git
[submodule "drupal6/drupal6-video"]
	path = drupal6/drupal6-video
	url = ssh://pkgs.fedoraproject.org/drupal6-video.git
