[submodule "drupal6/drupal6"]
	path = drupal6/drupal6
	url = ssh://pkgs.fedoraproject.org/drupal6.git
[submodule "drupal6/drupal6-addthis"]
	path = drupal6/drupal6-addthis
	url = ssh://pkgs.fedoraproject.org/drupal6-addthis.git
[submodule "drupal6/drupal6-admin_menu"]
	path = drupal6/drupal6-admin_menu
	url = ssh://pkgs.fedoraproject.org/drupal6-admin_menu.git
[submodule "drupal6/drupal6-advanced-help"]
	path = drupal6/drupal6-advanced-help
	url = ssh://pkgs.fedoraproject.org/drupal6-advanced-help.git
