[submodule "drupal6/drupal6"]
	path = drupal6/drupal6
	url = ssh://pkgs.fedoraproject.org/drupal6.git
[submodule "drupal6/drupal6-addthis"]
	path = drupal6/drupal6-addthis
	url = ssh://pkgs.fedoraproject.org/drupal6-addthis.git
[submodule "drupal6/drupal6-admin_menu"]
	path = drupal6/drupal6-admin_menu
	url = ssh://pkgs.fedoraproject.org/drupal6-admin_menu.git
[submodule "drupal6/drupal6-advanced-help"]
	path = drupal6/drupal6-advanced-help
	url = ssh://pkgs.fedoraproject.org/drupal6-advanced-help.git
[submodule "drupal6/drupal6-authfas"]
	path = drupal6/drupal6-authfas
	url = ssh://pkgs.fedoraproject.org/drupal6-authfas.git
[submodule "drupal6/drupal6-auto_nodetitle"]
	path = drupal6/drupal6-auto_nodetitle
	url = ssh://pkgs.fedoraproject.org/drupal6-auto_nodetitle.git
[submodule "drupal6/drupal6-backup_migrate"]
	path = drupal6/drupal6-backup_migrate
	url = ssh://pkgs.fedoraproject.org/drupal6-backup_migrate.git
[submodule "drupal6/drupal6-better_formats"]
	path = drupal6/drupal6-better_formats
	url = ssh://pkgs.fedoraproject.org/drupal6-better_formats.git
[submodule "drupal6/drupal6-block_class"]
	path = drupal6/drupal6-block_class
	url = ssh://pkgs.fedoraproject.org/drupal6-block_class.git
[submodule "drupal6/drupal6-calendar"]
	path = drupal6/drupal6-calendar
	url = ssh://pkgs.fedoraproject.org/drupal6-calendar.git
[submodule "drupal6/drupal6-cck"]
	path = drupal6/drupal6-cck
	url = ssh://pkgs.fedoraproject.org/drupal6-cck.git
[submodule "drupal6/drupal6-comment_bonus_api"]
	path = drupal6/drupal6-comment_bonus_api
	url = ssh://pkgs.fedoraproject.org/drupal6-comment_bonus_api.git
[submodule "drupal6/drupal6-context"]
	path = drupal6/drupal6-context
	url = ssh://pkgs.fedoraproject.org/drupal6-context.git
[submodule "drupal6/drupal6-context_menu_block"]
	path = drupal6/drupal6-context_menu_block
	url = ssh://pkgs.fedoraproject.org/drupal6-context_menu_block.git
[submodule "drupal6/drupal6-ctools"]
	path = drupal6/drupal6-ctools
	url = ssh://pkgs.fedoraproject.org/drupal6-ctools.git
[submodule "drupal6/drupal6-custom_breadcrumbs"]
	path = drupal6/drupal6-custom_breadcrumbs
	url = ssh://pkgs.fedoraproject.org/drupal6-custom_breadcrumbs.git
[submodule "drupal6/drupal6-date"]
	path = drupal6/drupal6-date
	url = ssh://pkgs.fedoraproject.org/drupal6-date.git
[submodule "drupal6/drupal6-diff"]
	path = drupal6/drupal6-diff
	url = ssh://pkgs.fedoraproject.org/drupal6-diff.git
[submodule "drupal6/drupal6-drush"]
	path = drupal6/drupal6-drush
	url = ssh://pkgs.fedoraproject.org/drupal6-drush.git
